[Unit]
Description=Lottery Bot
Documentation=https://github.com/corymintz/lotterybot
After=network.target

[Service]
EnvironmentFile=/opt/lotterybot/.env
WorkingDirectory=/opt/lotterybot
Type=simple
User=root
ExecStart=/bin/node /opt/lotterybot/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target